/* index.css */
:root {
	--primary-color: #5fda50;
	--white: #ffffff;
	--grey: #808080;
  --black: #000000;

	--font-h1: 4rem;
	--font-h2: 1.75rem;
	--font-h3: 1.5rem;
	--font-h4: 1.25rem;
	--font-h5: 1rem;
	--font-p: 0.875rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: Roboto, Helvetica Neue, sans-serif;
}
